**/.git
**/obj
**/bin
**/target
**/node_modules
**/__pycache__
**/.venv
**/.env
**/dist
**/.ipynb_checkpoints
**/.cache
**/.vscode

Photos/
Faces/
stubs/
room_images/
Resources/
robo/
yolo*
vosk-model*
test
chadsh
Git/
College/

# Ignore temp files
**.swp
**.swo
**.tmp
**.log
**.bak
**.out
**.o
**.npy
**.pt
**.pd
**.idx
**.txt
**.csv
**.so
**.a
**.mp3
**.mp4
**.wav
**.webm
**.png
**.jpg
**.jpeg
**.gif
**.svg
**.jsonl
**.class
**.jar
**.zip
**.tar
**.tar.gz
**.7z
**.rar
**.pyc
**.pyo
**.pyd
**.obj
**.mod
**.dep
**.pdf
*.old
vgcore*
