[submodule "Python/FastApi"]
	path = Python/FastApi
	url = git@github.com:Vatsalj17/srv-0x4277dc9.git
[submodule "C/Projects/Shell/vshell"]
	path = C/Projects/Shell/vshell
	url = git@github.com:Vatsalj17/vsh.git
[submodule "C/Projects/text-editor/editor"]
	path = C/Projects/text-editor/editor
	url = git@github.com:Vatsalj17/editor.git
[submodule "C/Projects/chat-app"]
	path = C/Projects/chat-app
	url = git@github.com:Vatsalj17/C-Chatroom.git
[submodule "C/Library/monitor"]
	path = C/Library/monitor
	url = git@github.com:Vatsalj17/heap-tracer.git
[submodule "C/Memory/gc"]
	path = C/Memory/gc
	url = git@github.com:Vatsalj17/garbage-collector.git
[submodule "DevOps/Git/megacorp"]
    path = DevOps/Git/megacorp
    url = git@github.com:Vatsalj17/megacorp.git
[submodule "DevOps/Git/webflyx"]
    path = DevOps/Git/webflyx
    url = git@github.com:Vatsalj17/webflyx.git
[submodule "Python/Projects/sysmonitor"]
	path = Python/Projects/sysmonitor
	url = git@github.com:vatsalj17/sysmonitor.git
