* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url(google.png);
  background-size: cover;
}

#main {
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
  height: 500px;
  border-radius: 50px;
  background-color: white;
}

h1 {
  padding-top: 30px;
  font-weight: 600;
}

#footer {
  margin-left: 100px;
  display: flex;
}

#langs {
  margin-right: 1100px;
}

.extra {
  margin-left: 10px;
}
