h1 {
  color: rebeccapurple;
}

body {
  background-color: cyan;
}

pre {
  color: red;
}

big {
  color: blue;
}
small {
  color: burlywood;
}

hr {
  color: brown;
  background-color: deeppink;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
  text-align: center;
  background-color: aquamarine;
}
