body {
	text-align: center;
}

div {
	height: 100px;
	width: 100px;
	display: inline-block;
	border: 2px solid black;
}

#container {
	width: 800px;
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

#box1 {
	background-color: aqua;
	flex-grow: 2;
}

#box2 {
	background-color: pink;
}

#box3 {
	background-color: lime;
}

#box4 {
	background-color: indianred;
}

#box5 {
	background-color: darkkhaki;
}
