h1 {
  color: green;
  text-align: center;
  text-decoration: lime wavy underline;
  background-color: lightcyan;
  border: 3px dashed darkcyan;
  border-radius: 20px;
}

button {
	color: red;
	background-color: cyan;
  text-decoration: line-through;
  margin-left: 45%;
}

body {
  background-color: rgba(0, 0, 0, 0.1);
	color: rgb(117, 86, 93);
}

p {
  font-family: cursive;
  font-size: 20px;
  line-height: normal;
}

#div {
  height: 80px;
  width: 80px;
  border: 2px solid red;
  border-radius: 12px;
  background-color: lightcoral;
  color: brown;
  text-align: center;
  padding: 10px;
}

#imgdiv {
	height: 100px;
	width: 200px;
	color: moccasin;
	border: 2px solid rosybrown;
	background-image: url(img.jpg);
	background-size: cover;
	margin-top: 10px;
}
