h1 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 50px;
}

#main {
  margin-left: 35%;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
